<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TravelAPP</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
  </style>
  </head>
<body>
  <div class="container text-secondary">
    <div class="row mx-md-n5 ">
        <div class="col-6 px-md-5">
            <h1>Register</h1>
            
           
            
        
            <form action="/register" method="post" class="border border-primary p-md-2 ">
                
                <p>Name: <input type="text" name="name" id=""></p> 
                <small id="passwordHelpInline" class="form-text text-muted">
                    Must be 3 characters long.
                    </small>
                <p>UserName: <input type="text" name="Uname" id=""></p>
                <p>PassWord: <input type="text" name="pw" id=""></p>
                <small id="passwordHelpInline" class="form-text text-muted">
                    Must be 8 characters long.
                </small>
                <p>Password Confirmed: <input type="text" name="cpw" id=""></p>
                <p><input type="submit" value="Register"></p>
            </form>

            
        </div>

        </div>
        </div>
        </body>
        </html>
        